<nav class="navbar navbar-expand-lg navbar-light custumnav">
 <div class="container-fluid">
  <a class="navbar-brand" > <img src="/images/logo.png" width="105" height="45" class="d-inline-block align-top" alt=""></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/travels">My travels </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/travels/create">Create new album</a>
      </li>

    </ul>
    <form action="/travels-search" method="get" class="d-flex">
      <input class="form-control me-2" type="text" name="country" placeholder="Country name" aria-label="Search">
      <input class="form-control me-2" type="number" name="year" min="1900" max="2099" step="1" placeholder="YYYY" />
      <button class="btn create_btn3" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>



<div class="mainAlbum">
<h1 class="titleText"> <span><b>Update profile</b></span></h1>
</div>


<div class="container-create">
<div class="wrapper-form">
     <div class="form1">

         <form action="/profile/{{_id}}/edit" method="post" enctype='multipart/form-data' class="myform">

         

             <div class="full-width">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value="{{username}}" />
             </div>


<label for="image" class="btn create_btn1">Upload a Photo</label>
<input type='file' style="display: none;"name='existingImage' id='image' value="{{imageUrl}}"/>


<button class="btn create_btn1" type"submit"><b>Update</b></button>
        </form>
        
     </div>
     
 </div>
 
 </div>




{{!-- <form
  action="/profile/{{_id}}/edit"
  method="post"
  enctype="multipart/form-data"
> --}}
{{!-- 
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value="{{username}}" /> --}}
{{!-- 
  <label for="image">Image</label>
  <input type="file" name="existingImage" id="image" value="{{imageUrl}}"/>

  <button type="submit">Update</button>

</form> --}}
{{!-- <a href="/profile">Profile</a> --}}

