<nav class="navbar navbar-expand-lg navbar-light custumnav">
 <div class="container-fluid">
  <a class="navbar-brand" > <img src="/images/logo.png" width="105" height="45" class="d-inline-block align-top" alt=""></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/travels">My travels </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/travels/create">Create new album</a>
      </li>

    </ul>
    <form action="/travels-search" method="get" class="d-flex">
      <input class="form-control me-2" type="text" name="country" placeholder="Country name" aria-label="Search">
      <input class="form-control me-2" type="number" name="year" min="1900" max="2099" step="1" placeholder="YYYY" />
      <button class="btn create_btn3" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>




<h2>Your profile</h2>

{{#if user}}


<div class="container-profile d-flex justify-content-center align-items-center">
             
             <div class="card-profile">

              <div class="upper">

                
                
              </div>

              <div class="user text-center">

                <div class="profile">

                  <img src="{{user.imageUrl}}" class="rounded-circle" width="80">
                  
                </div>

              </div>


              <div class="mt-5 text-center">

                <h4 class="mb-0 ">Welcome {{user.username}}</h4>
                <p class="mb-2  mail">Email: {{user.email}}</p>

                <a href='/profile/{{user._id}}/edit' class="btn  btn-sm follow">Edit</a>

                <div class="d-flex justify-content-between align-items-center mt-4 px-4">

                  <div class="stats">
                    <a href="/travels" class="btn  btn-sm follow">My travels</a>

                  </div>


                  <div class="stats">
                    <a href="/travels/create" class="btn  btn-sm follow">Add travel</a>

                  </div>


                  <div class="stats">
                    <a href="/logout" class="btn  btn-sm follow">Logout</a>

                  </div>
                  
                </div>
                
              </div>
               
             </div>

           </div>


  {{!-- <p>Welcome {{user.username}}</p>
  <p> Email  {{user.email}}</p>
  <img src={{user.imageUrl}} alt='photo' />


  


 
  <a href='/profile/{{user._id}}/edit'>Edit</a>
  <a href="/travels">My travels</a>
<a href="/travels/create">Add travel</a>
<a href="/logout">Logout</a> --}}

{{/if}}
