<nav class="navbar navbar-expand-lg navbar-light custumnav">
 <div class="container-fluid">
  <a class="navbar-brand" > <img src="/images/logo.png" width="105" height="45" class="d-inline-block align-top" alt=""></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/travels">My travels </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/travels/create">Create new album</a>
      </li>

    </ul>
    <form action="/travels-search" method="get" class="d-flex">
      <input class="form-control me-2" type="text" name="country" placeholder="Country name" aria-label="Search">
      <input class="form-control me-2" type="number" name="year" min="1900" max="2099" step="1" placeholder="YYYY" />
      <button class="btn create_btn3" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>



<div class="mainAlbum">
<h1 class="titleText"> <span> Your profile</span></h1>
</div>

{{#if user}}

<section  >
  <div class="py-5 ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="{{user.imageUrl}}"
                  alt="" class="img-fluid avatar-size"
                  style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-3">Welcome {{user.username}}</h5>
                <p class="mb-4 pb-1" style="color: #2b2a2a;">Email: {{user.email}}</p>
                <div class="d-flex pt-1">
                  <a class="btn create_btn3 me-5 " href='/profile/{{user._id}}/edit'>Edit</a>
                  {{!-- class="btn btn-outline-primary me-1 flex-grow-1" --}}
                  <a class="btn create_btn3" href ="/logout">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{{!-- <div class="container-profile d-flex justify-content-center align-items-center">
             
             <div class="card-profile">

              <div class="upper">

                
                
              </div>

              <div class="user text-center">

                <div class="profile">

                  <img src="{{user.imageUrl}}" class="rounded-circle" width="80">
                  
                </div>

              </div>


              <div class="mt-5 text-center">

                <h4 class="mb-0 ">Welcome {{user.username}}</h4>
                <p class="mb-2  mail">Email: {{user.email}}</p>

                <a href='/profile/{{user._id}}/edit' class="btn  btn-sm follow">Edit</a>

                <div class="d-flex justify-content-between align-items-center mt-4 px-4">



                  <div class="stats">
                    <a href="/logout" class="btn  btn-sm follow">Logout</a>

                  </div>
                  
                </div>
                
              </div>
               
             </div>

           </div> --}}


  {{!-- <p>Welcome {{user.username}}</p>
  <p> Email  {{user.email}}</p>
  <img src={{user.imageUrl}} alt='photo' />


  


 
  <a href='/profile/{{user._id}}/edit'>Edit</a>
  <a href="/travels">My travels</a>
<a href="/travels/create">Add travel</a>
<a href="/logout">Logout</a> --}}

{{/if}}
