<nav class="navbar navbar-expand-lg navbar-light custumnav">
 <div class="container-fluid">
  <a class="navbar-brand"> <img src="/images/logo.png" width="105" height="45" class="d-inline-block align-top" alt=""></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/travels">My travels </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/travels/create">Create new album</a>
      </li>

    </ul>
    <form action="/travels-search" method="get" class="d-flex">
      <input class="form-control me-2" type="text" name="country" placeholder="Country name" aria-label="Search">
      <input class="form-control me-2" type="number" name="year" min="1900" max="2099" step="1" placeholder="YYYY" />
      <button class="btn create_btn3" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>

{{!-- class="form-inline my-2 my-lg-0" --}}

<div class="mainAlbum">
  
  <h1 class="titleText"> <span> <b>My travels</b></span></h1>
  

  {{!-- <div id="search">

    <form action="/travels-search" method="get">
      <input type="text" name="country" placeholder="Country name" />

      <input type="number" name="year" min="1900" max="2099" step="1" placeholder="YYYY" />

      <button type="submit" class="button">Search travel</button>
    <a href="/travels">Reload</a>
    </form>

  </div> --}}
  <div class="cards-row">
    {{#each travels}}
      <div class="card border-0" style="width: 25rem;">
        <img src="{{imageUrl.[0]}}"  class="card-img-top card-size" alt="photo" />
        <div class="card-body text-secondary bg-light">
          <img src="{{countryFlag}}" alt="" class="flag"/>
          <h5 class="card-title text-center text-card">{{title}}</h5>
          <p>{{country}}  | {{month}}, {{year}} </p>

          <p class="card-title text-center text-card  description-size">{{description}}</p>
          <div class="d-grid">
          <a href="/travels/{{_id}}/details" class="btn btn-outline-danger text-center">View album</a>

          <div class="buttons-fix">
          <a href="/travels/{{_id}}/edit" ><button class="btn btn-outline-secondary text-center mt-2 btn-edit">Edit</button></a>
            <form action="/travels/{{_id}}/delete" method="post">
              <button class="btn btn-outline-secondary text-center mt-2 btn-edit" type="submit">Delete</button>
            </form>
            </div>

            
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>