
<h1>Travel details</h1>

  <p>{{travel.title}}</p>
  <p>{{travel.country}}</p>
  <img src="{{flag}}" alt="">
    <p>{{travel.city}}</p>
  <p> {{travel.date}}</p>
  <p>{{travel.description}}</p>
  <p><img src="{{travel.imageUrl}}" alt="" /></p>

  <a href="/travels/{{travel._id}}/edit">Edit</a>
  





<a href="/travels">Back to all travels</a>


<a href="/profile">Profile</a> 
 <p><form action="/travels/{{_id}}/delete" method="post">
      <button class="delete" type="submit">Delete</button>
    </form></p>
