<div>
  <h1>My travels</h1>

  <div id="search">

    <form action="/travels-search" method="get">
      <input type="text" name="country" placeholder="Country name" />

      <input
        type="number"
        name="year"
        min="1900"
        max="2099"
        step="1"
        placeholder="YYYY"
      />

      <button type="submit" class="button">Search travel</button>

    </form>

  </div>
  <div class="cards-row">
    {{#each travels}}
      <div class="card border-0" style="width: 25rem;">
        <img src="{{imageUrl.[0]}}"  class="card-img-top card-size" alt="photo" />
        <div class="card-body text-secondary bg-light">
          <img src="{{countryFlag}}" alt="" class="flag"/>
          <h5 class="card-title text-center text-card">{{title}}</h5>
          {{!-- <p>{{country}}</p> --}}

          {{!-- <p>{{month}}</p> --}}
          {{!-- <p>{{year}}</p> --}}
          <p class="card-title text-center text-card  description-size">{{description}}</p>
          <div class="d-grid">
          <a href="/travels/{{_id}}/details" class="btn btn-outline-danger text-center">View album</a>
          <a href="/travels/{{_id}}/edit"  class="btn btn-outline-secondary text-center mt-2">Edit</a>
            
            <form action="/travels/{{_id}}/delete" method="post" class="delete-button">
              <button class="delete" type="submit">Delete</button>
            </form>

            
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div>
    <a href="/travels/create">Create</a>

    <a href="/profile">Profile</a>

    <a href="/travels">Reload</a>
  </div>

</div>