
<h1>Travel details</h1>

  {{!-- <p>{{title}}</p>
  <p>{{country}}</p>
  <img src="{{countryFlag}}" alt="">
    <p>{{city}}</p>
  <p>{{month}}</p>
  <p>{{year}}</p> --}}
  {{!-- <p>{{description}}</p> --}}

  



<div class="main-album">
{{#each imageUrl}}


<div class="card-deck">
  <div class="card-photo-album img-thumbnail rounded" style="max-width: 40rem;" >
    <img src="{{this}}" class="card-img-top" alt="...">

   <form action="/travels/{{../_id}}/photos/delete" method="post" class="delete-button">
   <input type="text" value="{{this}}" name="image" hidden>
      <button class="delete-btn" type="submit">Delete</button>
    </form>
  </div>
</div>



  
  {{/each}}
</div>




<form action="/travels/{{_id}}/photos" method="post" enctype='multipart/form-data'>

    <label for='image'>Add Images</label>
        <input type='file' name='travel-image' id='image' multiple="true"/>
        <input type="submit" value="upload">
</form>

 <a href="/travels/{{_id}}/edit">Edit</a>
<a href="/travels">Back to all travels</a>


<a href="/profile">Profile</a> 
 <p><form action="/travels/{{_id}}/delete" method="post">
      <button class="delete" type="submit">Delete</button>
    </form></p>
