
<h1>Travel details</h1>

  <p>{{title}}</p>
  <p>{{country}}</p>
  <img src="{{countryFlag}}" alt="">
    <p>{{city}}</p>
  <p> {{date}}</p>
  <p>{{description}}</p>
  <p><img src="{{imageUrl}}" alt="" /></p>

  <a href="/travels/{{_id}}/edit">Edit</a>
  





<a href="/travels">Back to all travels</a>


<a href="/profile">Profile</a> 
 <p><form action="/travels/{{_id}}/delete" method="post">
      <button class="delete" type="submit">Delete</button>
    </form></p>
