
<h1>Travel details</h1>

  <p>{{title}}</p>
  <p>{{country}}</p>
  <img src="{{countryFlag}}" alt="">
    <p>{{city}}</p>
  <p> {{date}}</p>
  <p>{{description}}</p>

  {{#each imageUrl}}
  <p><img src="{{this}}" alt="" /></p>
  
  {{/each}}
 
  


<form action="/travels/{{_id}}/photos" method="post" enctype='multipart/form-data'>

    <label for='image'>Add Images</label>
        <input type='file' name='travel-image' id='image' multiple="true"/>
        <input type="submit" value="upload">
</form>

 <a href="/travels/{{_id}}/edit">Edit</a>
<a href="/travels">Back to all travels</a>


<a href="/profile">Profile</a> 
 <p><form action="/travels/{{_id}}/delete" method="post">
      <button class="delete" type="submit">Delete</button>
    </form></p>
