<h2>Update a travel</h2>

<form action="/travels/{{_id}}/edit" method="post">
<label for="title">title</label>
<input type="text" name="title" id="title" value="{{title}}"/>

<label for="country">Country</label>
<input type="text" name="country" id="country" value="{{country}}"/>

<label for="date">Date</label>
<input type="date" name="date" id="date" value="{{date}}"/>

<label for="description">description</label>
<input type="text" name="description" id="description" value="{{description}}"/>

<button type"submit">Update</button>

</form>